
.minimalism-fitness {
    color: #FFFFFF;
    font-family: "Outfit-Bold", Helvetica;
    font-size: 38px;
    font-weight: 700;
    left: 295px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 280px;
    width: 501px;
  }

