.minimalism-fitness {
  color: #FFFFFF;
  font-family: "Outfit-Bold", Helvetica;
  font-size: 38px;
  font-weight: 700;
  left: 295px;
  letter-spacing: 0;
  line-height: normal;
  margin: 0 auto;
  top: 280px;
  width: 501px;
}

