  .NutritionContainer {
    background-color: #f0f0f07f;
    border-radius: 45px;
    height: 400px;
    margin-left: 50px; 
    margin-top: 20px; 
    margin-bottom: 10px; 
    width: 400px;
    text-align: center;
}

#nutrition-sum-img{
    width: 300px;
    height: 300px;
}
