.walk-column {
  flex-basis: 1 0 20%;
  padding-top: 10px; /* Adjust this value as needed */
  padding-right: 100px;
  padding-bottom: 0;
  padding-left: 100px;
}

.walkingHeading {
  color: rgb(0, 0, 0);
  margin-top: 0;
  margin-left: 18%;
}

.desktop .row .column .walkForm {
  margin-top: 0; /* Adjust this value as needed */
}
