.desktop {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.user-page-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.left-box,
.right-box {
    width: 100%;
    padding: 100px;
    border-radius: 20px;
    background-color: #f0f0f032;
    margin: 40px;
    position: relative; 
}

.left-box {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    
}
.left-box p {
    font-size: 25px;
    margin: 10px 10; 
    color: #000000;
}

.left-box h2 {
    position: sticky;
    top: 0;
    padding: 30px 0 20px; /* Add padding for better spacing */
    margin-bottom: 0px; /* Add margin bottom to create space between "Your Profile" and the content */
    margin-top: 00; /* Remove margin top to fix the text at the top */
    color: #050505; /* Set color of the text */
    font-size: 30px; /* Set font size of the text */
}

.right-box h2 {
    font-size: 30px;
}


.right-box {
    border: none;
}

.edit-container {
    margin-bottom: 10px;
}

.edit-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 25px; 
}


input[type="text"],
input[type="number"],
select,
input[type="date"] {
    flex: 1;
    font-size: 25px; 
    color: #333;
    background-color: rgb(255, 255, 255);
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}

select {
    appearance: none;
}


input[type="file"] {
    padding: 10px;
    margin-top: 10px;
    background-color: #b5b5b5;
    border-radius: 5px;
    border: 1px solid #b5b5b5;
    color: #333;
    font-size: 17px;
    width: 260px; 
}

.left-box img {
    max-width: 250px; 
    max-height: 250px; 
    object-fit: contain; 
}

.saveUserChanges {
    margin: 10px;
    padding: 10px 15px 10px;
    font-size: 25px; 
    background-color: #E83C00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.left-content {
    position: sticky;
    top: 0; 
}

.saveUserChanges:hover {
    background-color: #FE6A16;
    
}