.WalkingSummary {
  background-color: #D9D9D9; /* Matches WalkContainer background */
    border-radius: 45px; /* Rounded corners like WalkContainer */
    width: 370px; /* Same width as WalkContainer */
    height: auto; /* Adjust based on content, or use fixed height like WalkContainer */
    text-align: center; /* Center the text */
    position: absolute; /* Positioning relative to the nearest positioned ancestor */
    left: 10%; /* Adjust this value to keep it to the left, but not exactly at the edge */
    top: 50%; /* Middle of the screen */
    transform: translateY(-50%); /* Center it vertically */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 20px;
}
