.WalkingItem {
  background-color: #F2F2F2;
  border-radius: 15px;
  padding: 15px;
  margin: 10px auto; /* Center the container */
  max-width: 600px; /* Adjust this value as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.WalkingItem button {
  padding: 5px 15px; /* Adjust the padding to resize buttons */
  width: 80px; /* Optional: Set a fixed width for buttons */
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #4CAF50; /* Edit button */
  color: white;
  margin-right: 5px;
}

.WalkingItem button:last-child {
  background-color: #f44336; /* Delete button */
}

.walkingItemData {
  flex-grow: 1; 
  margin-right: 20px; 
}


