  .WalkContainer {
    background-color: #f0f0f07f;
    border-radius: 45px;
    height: 400px;
    margin-left: 50px; 
    margin-top: 20px; 
    margin-bottom: 0px; 
    width: 400px;
    text-align: center;
}