.navbar {
  height: 27px;
  margin-top: 1%;
/* Align to the right */
}

.user,
.walk,
.pushup,
.nutrition,
.sleep {
  color: #FFFFFF;
  font-family: "Outfit-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  margin-left: 2.5%; /* Adjust the spacing between items as needed */
  margin-right: 2.5%;
}