.WalkingSummary {
    background-color: #E6E6E6; 
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 80%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .SummaryMetric {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
  }
  