form {
    margin-top: 0;
    max-width: 400px;
    margin: 20px auto 0;
    padding: 20px;
    background-color: #f0f0f032;
    border-radius: 8px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  select,
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  #walkMessageContainer {
    height: 1rem;
    margin-bottom: 2rem;
  }

  .greenWalkMessage {
    color: #2ceb05;
    font-size: 1.3rem;
  }
  
  .redWalkMessage {
    color: #ff2a1b;
    font-size: 1.3rem;
  }