.walkhistory {
    height: auto;
    padding-bottom: 5%;
}

.greenWalkMessage {
    color: #2ceb05;
    font-size: 1.3rem;
  }
  
.redWalkMessage {
    color: #ff2a1b;
    font-size: 1.3rem;
  }

.highlight {
    background-color: yellow; 
}
