.desktop {
  background-color: #082035;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.desktop .overlap-wrapper {
  background-color: #082035;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}
.desktop .overlap {
  height: 1269px;
  left: -250px;
  position: relative;
  top: -204px;
  width: 1766px;
}
.desktop .overlap-group {
  height: 1269px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1766px;
}
.desktop .div {
  height: 834px;
  left: 770px;
  position: absolute;
  top: 435px;
  width: 996px;
}
.desktop .ellipse {
  background-color: #87DDF0;
  border-radius: 322.5px/327px;
  filter: blur(539px);
  height: 654px;
  left: 351px;
  position: absolute;
  top: 180px;
  width: 645px;
}
.desktop .rectangle {
  background-color: #D9D9D9;
  border-radius: 45px;
  height: 318px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}
.desktop .rectangle-2 {
  background-color: #D9D9D9;
  border-radius: 45px;
  height: 318px;
  left: 390px;
  position: absolute;
  top: 0;
  width: 370px;
}
.desktop .rectangle-3 {
  background-color: #D9D9D9;
  border-radius: 45px;
  height: 318px;
  left: 390px;
  position: absolute;
  top: 348px;
  width: 370px;
}
.desktop .rectangle-4 {
  background-color: #D9D9D9;
  border-radius: 45px;
  height: 318px;
  left: 0;
  position: absolute;
  top: 348px;
  width: 370px;
}
.desktop .overlap-group-2 {
  height: 1101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 796px;
}
.desktop .ellipse-2 {
  background-color: #87DDF0;
  border-radius: 322.5px/327px;
  filter: blur(539px);
  height: 654px;
  left: 0;
  position: absolute;
  top: 0;
  width: 645px;
}
.desktop .minimalism-fitness {
  color: #FFFFFF;
  font-family: "Outfit-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 295px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 280px;
  width: 501px;
}
.desktop .rectangle-5 {
  background-color: #D9D9D9;
  border-radius: 45px;
  height: 666px;
  left: 355px;
  position: absolute;
  top: 435px;
  width: 360px;
}
.desktop .text-wrapper {
  color: #FFFFFF;
  font-family: "Outfit-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 980px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 293px;
  white-space: nowrap;
  width: 104px;
}
.desktop .navbar {
  height: 27px;
  left: 1099px;
  position: absolute;
  top: 293px;
  width: 504px;
}
.desktop .w-ALK {
  color: #FFFFFF;
  font-family: "Outfit-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 115px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 116px;
}
.desktop .p-US-hup {
  color: #FFFFFF;
  font-family: "Outfit-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 217px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 170px;
}
.desktop .n-UTRITION {
  color: #FFFFFF;
  font-family: "Outfit-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 356px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 148px;
}
.desktop .s-LEEP {
  color: #FFFFFF;
  font-family: "Outfit-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 126px;
}