.desktop {
  background-color: #082035;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: right; /* Adjust as needed */
  width: 50%;
  padding: 1rem;
}


