.desktop {
  background-color: #082035;
  height: 100vh;
}

.header {
  text-align: center;
  padding-bottom: 200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  max-width: 17%;
  padding: 0 4px;
}

#userColumn{
  margin-left: 25%;
}

